.TodoContainer {
  width: 100%;
  height: calc(100vh - 141px);
  overflow-x: scroll;
  background-color: #40506c;
  padding: 20px;
  vertical-align: top;
  white-space: nowrap;
}

.addTodoForm {
  vertical-align: top;
  display: inline-block;
  width: 300px;
  height: 70px;
  background-color: #e3e4e6;
  border-radius: 5px;
  padding: 18px;
}

.addTodoForm .addTodoBoxInput {
  text-align: center;
  white-space: nowrap;
  overflow-x: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  color: #40506c;
  border-radius: 10px;
}
.mainBoard {
  padding: 20px;
  font-weight: 700;
  color: #fff;
  font-size: 30px;
  background-color: #40506c;
}
.addTodoForm .enterBtn {
  vertical-align: top;
  padding: 3px;
  border-radius: 10px;
  background-color: #40506c;
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
}
.enterBtn:hover {
  opacity: 50%;
}
.addTodoBoxBtn {
  cursor: pointer;
  width: 300px;
  height: 40px;
  text-align: left;
  padding: 8px 21px 8px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}
