.container {
  margin: 0 auto;
}

.container .title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
  color: #1d232e;
  letter-spacing: -0.01em;
}

.container .boardBox {
  height: calc(100vh - 260px);
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-color: #ffffff;
  max-width: 500px;
  border-radius: 3px;
  padding: 25px 40px;
  box-shadow: rgb(0 0 0 / 40%) 0 0 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.boardItem {
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #4e97c2;
  width: 200px;
  height: 100px;
  color: #fff;
  outline: 2px solid transparent;
  transition: 0.2s;
  position: relative;
}
.boardItem:hover {
  outline: #0077c3 solid 4px;
}
.boardItem:hover button {
  display: block;
}
.navyLine {
  color: #fff;
  text-align: center;
  width: 100%;
  height: 20px;
  line-height: 30px;
  background-color: #0077c3;
  margin-bottom: 10px;
  display: flex;
  justify-content: end;
  border-radius: 5px;
  position: relative;
}

.addBoardBtn {
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #5e6c84;
  opacity: 30%;
  width: 200px;
  height: 100px;
  color: #fff;
  padding: 5px;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
}

.addBoardBtn:hover {
  border: #1d232e solid 2px;
}

.boardAddSubmit {
  display: flex;
  justify-content: center;
}
.boardAddInput {
  width: 120px;
  font-size: 17px;
  background-color: transparent;
  color: #fff;
}
.enterBtn {
  vertical-align: top;
  padding: 2px;
  border-radius: 10px;
  background-color: #40506c;
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
}

.deleteBtn {
  cursor: pointer;
  color: #fff;
  margin-right: 5px;
  display: none;
}

.editBtn {
  cursor: pointer;
  color: #fff;
  margin-right: 5px;
  display: none;
}

.boardTitle {
  cursor: pointer;
  height: 70px;
  margin-left: 10px;
  font-size: 17px;
  overflow: auto;
}

.createdAtData {
  position: absolute;
  font-size: 10px;
  bottom: 5px;
  right: 5px;
}
