.todoCard {
  padding: 20px 10px 10px 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1e1e1e;
  background-color: #fff;
  word-break: break-all;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
  white-space: normal;
  transition: 0.3s;
}

.todoCard:hover {
  background-color: #e3e4e6;
  border: 0.5px solid #e3e4e6;
}

.todoCard .todoCardDeleteBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 5px;
}
