.Nav {
  width: 100%;
  position: relative;
}

.Nav .title {
  padding: 15px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  background-color: #1d232e;
  color: #fff;
}

.Nav .userName {
  font-size: 15px;
  float: left;
  background-color: #1d232e;
  color: #fff;
  position: absolute;
  top: 40px;
}
